.mr-15{
    margin-right: 15px;
}

.color-green{
    color:green !important;
}
.color-red{
    color: red !important;
}
.update {
    cursor: pointer;
}

  .emp-table {
    width: 98%;
    overflow: auto;
    text-align: left;
    border-collapse: collapse;
    margin:1%;
  }
  .emp-table td ,th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
  
    .emp-table tbody tr:hover{
       /* background-color: #dddddd; */
      cursor: pointer;
    }
  
    .emp-table thead{
      background: black;
      color: white;
      border: black;
   }
  
  
  