<div class="tr">
  <button mat-raised-button color="accent" style="margin:10px 1%" (click)="addNewEmail()" matTooltip="Add Email">Add New Email</button>

</div>
<table class="emp-table">
<thead>
  <tr>
    <th>Serial No</th>
    <th>Email</th>
    <th>Action</th>
  </tr>

</thead>
<tbody>
  <tr *ngFor="let email of emailList;index as i">
    <td>
     {{i+1}}
    </td>
    <td>
        {{email.tableEmailEmailAddress}}
    </td>
  
    <td class="update">
      <mat-icon class="mr-15 color-green" aria-hidden="false" aria-label="Example edit icon"  matTooltip="Edit Email" (click)="updateEmail(email)">edit</mat-icon>
      <mat-icon class="color-red" aria-hidden="false" aria-label="Example delete icon"  matTooltip="Delete Email" (click)="deleteEmail(email)">delete</mat-icon>
      </td>
  </tr>
</tbody>
</table>

